* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth; /*płynne przewijanie strony*/
	font-size: 62.5%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 320px) {
	/*telefony*/

	body {
		font-family: "Lato", sans-serif;
		font-size: 1em;
	}

	nav {
		position: sticky;
		top: 0;
		z-index: 10;
		height: 30px;
		background-color: #14213d;
		text-align: center;
		line-height: 30px; /*pozycja tekstu nawi w pionie*/
		margin-bottom: 0px;
	}

	.nav-items a {
		padding: 1px 5px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.5px;
		transition: color 300ms;
	}

	.nav-items a:hover {
		color: #fca311;
	}

	header {
		/* zdjęcie na samej górze*/
		background-image: url("../img/wysokobialkowa3.jpg");
		width: auto;
		height: 180px;
		background-size: cover;
		background-position: bottom;
		position: relative;
	}

	.fade {
		/*stylowanie wszystkich zdjęć*/
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.5); /*cieniowanie*/
	}

	.text {
		/*tekst na środku zdjęcia*/
		position: absolute;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text h1 {
		/*tekst na środku górnego zdjęcia*/
		margin-bottom: 10px;
		font-size: 2.6rem;
		text-shadow: 13px 13px 15px rgb(7, 7, 7);
	}

	.text span {
		/*tekst na środku górnego zdjęcia*/
		text-transform: uppercase;
		color: #fca311;
	}

	main {
		/* <!- margines między górnym zdjęciem a Czym jest białko- -> */
		/* margin: 60px 0;  */
		margin-bottom: 10px;
	}
	.wrapper {
		/*strona nie jest na całej szerokości */
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.o-diecie {
		/*Napis czym jest białko*/
		/* margin-bottom: 20px;
    margin-top: 20px; */
		padding: 15px 15px;
		font-style: bold;
		text-align: center;
		font-size: 2.6rem;
		color: red;
	}

	.opis-diety-info {
		/*informacje pod  -Czym jest białko*/
		margin-bottom: 10px;
		margin-top: 5px;
		font-size: 1.6rem;
		padding: 0px 10px;
		line-height: 1.6;
		text-indent: 20px;
	}

	.h3 {
		/*Napis -rodzaje białek*/
		margin-top: 20px;
		margin-left: 50px;
		font-style: italic;
		text-align: left;
		font-size: 2.2rem;
		color: red;
	}

	hr {
		margin-bottom: 20px;
		color: lightgrey;
	}
	.produkty {
		margin-bottom: 10px;
		margin-top: 5px;
		font-size: 1.6rem;
		padding: 10px 30px;
		line-height: 1.6;
	}
	ul {
		margin-left: 50px;
		font-size: 1.6rem;
	}

	footer {
		padding: 10px 10px;
		text-align: center;
		background-color: #14213d;
		color: #fff;
		font-style: normal;
		margin-top: 20px;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
	/*Tablety*/

	body {
		font-family: "Lato", sans-serif;
		font-size: 1.6rem;
	}

	nav {
		position: sticky;
		top: 0;
		z-index: 10;
		height: 60px;
		background-color: #14213d;
		text-align: center;
		line-height: 60px;
		margin-bottom: 0px;
	}

	.nav-items a {
		padding: 0 10px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		letter-spacing: 1px;
		transition: color 300ms;
	}

	.nav-items a:hover {
		color: #fca311;
	}

	header {
		/* zdjęcie na samej górze*/
		background-image: url("../img/wysokobialkowa3.jpg");
		height: 280px;

		background-position: bottom;
		position: relative;
		margin: auto;
		margin-bottom: 10px;
		overflow: hidden;
	}

	.fade {
		/*stylowanie wszystkich zdjęć*/
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.5); /*cieniowanie*/
	}

	.text {
		/*tekst na środku zdjęcia*/
		position: absolute;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text h1 {
		/*tekst na środku górnego zdjęcia*/
		margin-bottom: 10px;
		font-size: 6rem;
		text-shadow: 13px 13px 15px rgb(7, 7, 7);
	}

	main {
		/* <!- margines między górnym zdjęciem a Czym jest białko- -> */
		/* margin: 60px 0;  */
		margin-bottom: 100px;
	}
	.wrapper {
		/*strona nie jest na całej szerokości */
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.o-diecie {
		/*Napis-czym jest białko*/
		margin-bottom: 10px;
		margin-top: 20px;
		font-style: bold;
		text-align: center;
		font-size: 4rem;
		color: red;
	}

	.opis-diety-info {
		/*informacje pod  Czym jest białko*/
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 1.6rem;
		padding: 0px 20px;
		line-height: 1.6;
		text-indent: 20px;
	}

	.h3 {
		/*Napis Rodzaje białek*/
		margin-top: 40px;
		margin-left: 100px;
		font-style: italic;
		text-align: left;
		font-size: 2.5rem;
		color: red;
	}

	hr {
		margin-bottom: 30px;
		color: lightgrey;
	}

	.produkty {
		margin-bottom: 10px;
		margin-top: 5px;
		font-size: 2.2rem;
		padding: 20px 50px;
		line-height: 1.6;
	}

	ul {
		margin-left: 100px;
		font-size: 1.6rem;
	}

	footer {
		padding: 20px 10px;
		text-align: center;
		background-color: #14213d;
		color: #fff;
		font-style: normal;
		margin-top: 50px;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 992px) {
	/*laptopy*/

	body {
		font-family: "Lato", sans-serif;
		font-size: 1.6rem;
	}

	nav {
		position: sticky;
		top: 0;
		z-index: 10;
		height: 60px;
		background-color: #14213d;
		text-align: center;
		line-height: 60px;
		margin-bottom: 0px;
	}

	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		letter-spacing: 1px;
		transition: color 300ms;
	}

	.nav-items a:hover {
		color: #fca311;
	}

	header {
		/* zdjęcie na samej górze*/
		background-image: url("../img/wysokobialkowa3.jpg");
		height: 380px;
		background-position: bottom;
		position: relative;
		margin: auto;
		margin-bottom: 30px;
		overflow: hidden;
	}

	.fade {
		/*stylowanie wszystkich zdjęć*/
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.5); /*cieniowanie*/
	}

	.text {
		/*tekst na środku zdjęcia*/
		position: absolute;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text h1 {
		/*tekst na środku górnego zdjęcia*/
		margin-bottom: 10px;
		font-size: 6rem;
		text-shadow: 13px 13px 15px rgb(7, 7, 7);
	}

	.text span {
		/*tekst na środku górnego zdjęcia*/
		text-transform: uppercase;
		color: #fca311;
	}

	main {
		/* <!- margines między górnym zdjęciem a Czym jest białko- -> */
		/* margin: 60px 0;  */
		margin-bottom: 100px;
	}
	.wrapper {
		/*strona nie jest na całej szerokości */
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.o-diecie {
		/*Napis-czym jest białko*/
		margin-bottom: 10px;
		margin-top: 10px;
		font-style: bold;
		text-align: center;
		font-size: 4rem;
		color: red;
	}

	.opis-diety-info {
		/*informacje pod  Czym jest białko*/
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 2.2rem;
		padding: 0px 50px;
		line-height: 1.6;
		text-indent: 20px;
	}

	.h3 {
		/*Napis Rodzaje białek*/
		margin-top: 40px;
		margin-left: 100px;
		font-style: italic;
		text-align: left;
		font-size: 2.5rem;
		color: red;
	}

	hr {
		margin-bottom: 30px;
		color: lightgrey;
	}

	ul {
		margin-left: 100px;
		font-size: 2rem;
	}

	footer {
		padding: 20px 10px;
		text-align: center;
		background-color: #14213d;
		color: #fff;
		font-style: normal;
		margin-top: 150px;
	}
}
