* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;  /*płynne przewijanie strony*/
    font-size: 62.5%;
}




body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}


nav {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;
    background-color: #14213D;
    text-align: center;
    line-height: 60px;
    margin-bottom: 30px;
}

.nav-items a {
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1px;
    transition: color 300ms;
}

.nav-items a:hover {
    color: #FCA311;
}

header {                                     /* zdjęcie na samej górze*/
    background-image: url('../img/ziemniaczana4.jpg');
    height: 380px;
    background-position: center;
    background-size: 100% 140%;
    position:relative;
    margin: auto;
    width: 1000px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden; 
}

.fade {                                 /*stylowanie wszystkich zdjęć*/
    position:absolute;      
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);       /*cieniowanie*/
}


.text {                         /*tekst na środku zdjęcia*/
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

.text h1{                           /*tekst na środku górnego zdjęcia*/
    margin-bottom: 10px;
    font-size:  6rem;
    text-shadow: 13px 13px 15px rgb(7, 7, 7);
}

.text span {                        /*tekst na środku górnego zdjęcia*/
    text-transform: uppercase;
    color: #FCA311;
}


.text p {                     /*tekst na środku górnego zdjęcia pod HEATHLIVE*/
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgb(7, 7, 7);
    
}

main {
    /* <!- margines między górnym zdjęciem a Czym jest białko- -> */
    /* margin: 60px 0;  */
    margin-bottom: 100px;
}
.wrapper {                   /*strona nie jest na całej szerokości */
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.o-diecie {                /*Napis jaka dieta*/
    margin-bottom: 30px;
    margin-top: 93px;
    font-style: bold;
    text-align: center;
    font-size: 4rem;
    color: red
}



.opis-diety-info {            /*informacje pod  O MNIE*/
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2.2rem;
    padding: 0px 100px;
    line-height: 1.6;
    text-indent: 20px;

   
}

.h3 {                /*Napis jaka dieta*/
    margin-top: 40px;
    margin-left: 100px;
    font-style: italic;
    text-align: left;
    font-size: 2.5rem;
    color: red
    
}

hr {
    margin-bottom: 30px;
    color: lightgrey;
}

img  {
    height: 200px;
    width: 200px;

}

ul {
    margin-left: 150px;
    font-size: 2rem;
    line-height: 2.0;


}

footer {
    padding: 20px 10px;
    text-align: center;
    background-color: #14213D;
    color: #FFF;
    font-style:normal;
    margin-top: 150px;
}
